.input-checkbox__input-wrapper{
    position: relative;
}

.input-checkbox__input{
    display: none;
}

.input-checkbox__input-hover{
    height: 24px;
    width: 50px;

    background-color:var(--colorInactiveElements);

    border-radius: 11px;

    cursor: pointer;
}

.input-checkbox__input-hover::after{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--colorPrimary);
    margin: 3px;
    transition: all ease 0.2s;
    border-radius: 50%;
}

.input-checkbox__input:checked ~ .input-checkbox__input-hover::after{
    margin-left: 29px;
}

.input-checkbox__input:checked ~ .input-checkbox__input-hover{
    background-color: var(--colorSecondary);
}
