@import "./time-component/time-component.css";
@import "./date-component/date-component.css";

.date-time-segment {
	width: 100%;

	padding: 0px 10px 20px 25px;

	border-bottom: 1px solid var(--colorInactiveElements);
}

.date-time-segment__time-component {
	margin-left: -4px;
}
