@import "./settings-container/settings-container.css";

.task-schedule-section {
    user-select: none;

    color: var(--colorSecondary);

    font-family: "Jura", Verdana, Tahoma, sans-serif;
    font-weight: lighter;

    padding: 10px 10px 10px 30px;

    height: 100%;
}

.task-schedule-section__add-task-segment{
    position: relative;
}

