.carousel-section {
	width: 100%;
}

.slider {
	width: 100%;
}

.slider__viewport {
	overflow: hidden;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.slider__wrapper {
	width: 200%;
}

.slide {
	height: 100vh;
	width: 100vw;

	scroll-snap-align: start;

	background-size: cover;
	background-position-y: top;
}

.slider__slide {
	position: relative;
}

.slide-content {
	height: 235px;
}

.slide-content__title {
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
}

.slide-content__description {
	font-size: 17px;
}

.slide-content__link {
	width: 125px;

	font-weight: bold;
	font-size: 15px;
	text-align: center;

	border: 1px solid #a6a7aa;

	padding: 15px 30px;

	transition-property: color, background-color;
	transition-timing-function: ease;
	transition-duration: 0.6s;
}

.slide-content__link:hover {
	background-color: white;
	color: #515769;
}

.slide__indicator-container {
	position: absolute;
	bottom: 39px;
	left: 0px;

	width: 100%;

	z-index: 17;
}

.indicator-container__wrapper {
	margin: 0px auto;
}

.indicator-container__active {
	width: 10px;
	height: 10px;

	border: 1px solid white;
	border-radius: 6px;
	
	box-shadow: 0px 0px 0px 1px white;
}

.slider__slide_first {
	background-image: url("../../src/image/1920x1080/01.jpg");
}

.indicator-container__active_first {
	margin-left: 1px;
}

.slider__slide_second {
	background-image: url("../../src/image/1920x1080/02.jpg");
}

.indicator-container__active_second {
	margin-left: 17px;
}

.slider-switcher {
	width: 100%;
}

.carousel-section__slider-switcher {
	position: absolute;
	bottom: 30px;

	z-index: 18;
}

.slider-switcher__wrapper {
	margin: 0px auto;
}

.slider-switcher__link {
	display: inline-block;

	width: 10px;
	height: 10px;

	border: 1px solid white;
	border-radius: 6px;

	margin-right: 4px;
}
