/* container */
.body__main-container {
	position: relative;
}

/* header-bg */
.header-background {
	height: 100px;
	width: 100%;
}

.main-container__header-background {
	position: fixed;
	top: 0px;
	left: 0px;

	z-index: 15;
}

/* header */
.main-container__header-section {
	position: fixed;
	top: 0px;

	z-index: 20;
}

/* carousel */
.main-container__carousel-section {
	position: relative;
	
	z-index: 16;
}

/* promotion */
.main-container__promotion-section {
	position: relative;
}

/* not supported */
.not-supported-stub {
	width: 100vw;
	height: 100vh;

	display: none;
}

.not-supported-stub__description {
	font-size: 14px;

	padding: 20px;

	text-align: center;
}