.navigation-segment__icon {
    padding: 0px 20px;

    position: relative;

    float: right;

    cursor: pointer;

    z-index: 21;
}

.navigation-segment__menu-segment {
    position: fixed;
    left: 0px;
    top: 0px;

    padding-top: 100px;

    background-color: #35353a;

    z-index: 19;
}

.navigation-segment__button {
    display: none;
}

.navigation-segment__button:checked ~ .menu-segment {
    height: auto;
}