.reviews-section {
	min-height: 470px;
}

.reviews-section__title {
	font-size: 30px;
	font-weight: bold;

	padding-bottom: 20px;
}

.reviews-section__viewport {
	overflow-x: scroll;

	width: 860px;

	scroll-snap-type: x mandatory;

	-webkit-overflow-scrolling: scroll;
}

.reviews-section__viewport::-webkit-scrollbar {
	width: 0px;
}

.reviews-section__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;

	min-width: 200%;
}

.review {
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;

	scroll-snap-align: center;
}

.review__blockquote::before {
	content: "\201c";
	font-family: Arial, Helvetica, sans-serif;

	display: block;

	font-size: 90px;
	color: #17bed2;
}

.review__wrapper {
	padding: 10px 20px;

	width: 830px;
	height: 100%;
}

.author {
	font-weight: bold;
	font-size: 15px;
}

.review__author {
	margin-top: 30px;
}

.author__name {
	display: inline;
	font-weight: bold;
}

.author__name::after {
	content: ",";
	font-weight: normal;
}

.author__position {
	display: inline;
	font-weight: normal;
}
