.services-section {
	width: 100%;

	overflow: hidden;

	padding: 100px 0px;
}

.services__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	transform: translateX(-100vw);

	transition: transform ease-in-out 1s;
}

.services-section-hover:hover .services__wrapper {
	transform: translateX(0vw);
}

.service-panel {
	height: 250px;
	width: 370px;

	border: 1px solid #fafafa;

	padding: 40px;

	cursor: pointer;
}

.service-panel__icon {
	height: 35px;
	
	transition: opacity ease 0.5s;
}

.service-panel__wrapper {
	height: 100%;

	transition: transform ease-in-out 0.7s;
}

.service-panel:hover .service-panel__wrapper {
	transform: translateY(-30px);
}

.service-panel:hover .service-panel__icon {
	opacity: 0;
}

.service-panel__title {
	font-size: 26px;
	font-weight: bold;
}

.service-panel__description {
	font-size: 15px;
}
