/* background-color */
.common_background-color_primary {
    background-color: #ffffff;
}

.common_background-color_secondary {
    background-color: #17bed2;
}

.common_background-color_accent {
    background-color: #fafafa;
}

.common_background-color_first-tone {
    background-color: #35353a;
}

.common_background-color_second-tone {
    background-color: #515769;
}

.common_background-color_transparent {
    background-color: transparent;
}

/* color */
.common_color_primary {
    color: #ffffff;
}

.common_color_secondary {
    color: #17bed2;
}

.common_color_accent {
    color: #fafafa;
}

.common_color_first-tone {
    color: #35353a;
}

.common_color_second-tone {
    color: #515769;
}

.common_color_third-tone {
    color: #a6a7aa;
}

.common_color_fourth-tone {
    color: #bfc1c7
}

.common_color_fifth-tone {
    color: #81848f
}

/* text transform */

.common_text-transform_uppercase {
    text-transform: uppercase;
}

.common_text-transform_capitalize {
    text-transform: capitalize;
}

/* flex */
.common_flex_row_center_center {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
}

.common_flex_row_between_center {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
}

.common_flex_column_between {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* icons */
.icon_color {
	color: #a6a7aa;
}

.icon_size {
	font-size: 32px;
}
