html {
	background-color: var(--colorPrimary);
}

.main-container {
	height: 100vh;
}

.main-container__calendar-section {
	position: relative;
}

.main-container__wrapper{
	position: relative;
}

.main-container__task-schedule-section{
	position: relative;
}
