/* not supported */
@media (max-width: 319px) {
	.main-container {
		display: none;
	}
	.not-supported-stub {
		display: flex;
	}
}
@media (max-height: 320px) {
	.not-supported-stub__description::after {
        content: "Completely.";
	}
}
@media (min-height: 320px) {
	.not-supported-stub__description::after {
        content: "Please, flip your phone.";
	}
}
@media (min-width: 3840px) {
    .main-container {
		display: none;
	}
	.not-supported-stub {
		display: flex;
    }
    
    .not-supported-stub__description {
        font-size: 35px;
    }

	.not-supported-stub__description::after {
        content: "Because.";
	}
}

/* from 320px to 564px*/
@media (min-width: 320px) and (max-width: 749px) {
	/* page width */
	.common_page-width {
		min-width: 95vw;
		max-width: 95vw;
	}
	/* services */
	.services__wrapper {
		justify-content: center;
	}
	/* reviews */
	.reviews-section {
		height: auto;

		padding: 100px 0px;
	}
	.reviews-section__viewport {
		width: 94vw;
	}
	.review__wrapper {
		width: 86vw;
	}
	/* prices */
	.kit-container {
		width: 90vw;
	}
	/* promotion */
	.promotion-section__wrapper {
		flex-wrap: wrap;
	}
	.promotion-section__container {
		width: 90vw;
	}
	.promotion-section__image {
		position: static;

		height: 90vw;
		width: 90vw;
	}
	/* showcase */
	.showcase-section__info {
		width: 90vw;
	}
	.showcase-image {
		width: 100%;
	}
	/* footer */
	.form-container {
		width: 90vw;
	}
}

/* from 750px */
@media (min-width: 750px) {
	/* page width */
	.common_page-width {
		min-width: 720px;
		max-width: 720px;
	}

	/* services */
	.services-section {
		padding: 75px 0px;
	}
	.service-panel {
		width: 360px;
	}

	/* products */
	.products-section__header-wrapper {
		margin-bottom: 40px;
	}
	.product {
		width: 360px;
		height: 450px;

		padding: 20px 15px;
	}

	/* reviews */
	.reviews-section {
		height: auto;

		padding: 100px 0px;
	}
	.reviews-section__viewport {
		width: 640px;
	}
	.review__wrapper {
		width: 600px;
	}

	/* prices */
	.prices-section {
		height: auto;
		padding: 70px 0px;
	}
	.kit-container {
		width: 240px;

		padding: 50px 25px;
	}
	.kit-container_center {
		padding: 90px 25px;
	}

	/* promotion */
	.promotion-section {
		padding: 75px 0px;
	}

	/* showcase */
	.showcase-image {
		width: 360px;
		height: 360px;
	}
	.showcase-image_width_double {
		width: 720px;
	}
}

/* from 772px */
@media (min-width: 772px) {
	.slide-content__title {
		font-size: 84px;
		font-weight: bold;
		line-height: 80px;
	}
}

/* from 992px */
@media (min-width: 992px) {
	.header-section {
		background-color: transparent;
	}

	.menu-segment {
		padding-left: 0px;

		background-color: transparent;
		box-shadow: none;

		flex-direction: row;
		align-items: center;

		height: auto;
	}

	.navigation-segment__menu-segment {
		position: static;

		padding-top: 0px;

		background-color: transparent;
	}

	.menu-link {
		justify-content: center;

		height: 100px;
		padding: 0px 18px 0px 0px;
	}

	.navigation-segment__button {
		display: none;
	}

	.navigation-segment__icon {
		display: none;
	}
}

/* from 1204px */
@media (min-width: 1204px) {
	/* page width */
	.common_page-width {
		min-width: 1140px;
		max-width: 1140px;
	}
}

@media (max-width: 1367px){
    .services__wrapper {
        transform: translateX(0vw);
    }
}

@media only screen and (min-width: 1367px) {
	/* back-to-top */
	.back-to-top {
		opacity: 0.5;
	}

	/* products */
	.product__image {
		transition-property: width, transform;
		transition-timing-function: linear, linear;
		transition-duration: 0.6s;

		width: 0%;

		transform: translate(180px, 120px);
	}

	/* showcase */
	.showcase-image_width_double {
		width: 760px;
	}
	.showcase-image__hover {
		opacity: 0;

		transition: opacity ease 0.6s;
	}
}
