* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Hind", sans-serif;
}

::selection {
	background: #17bed2;
	color: white;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

a {
	text-decoration: none;
	outline: none;
}
